<!--引入自定义字体  -->
<link rel="stylesheet" href="/assets/fonts/fonts.css" charset="utf-8">

<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/index.html" | prepend: site.baseurl | prepend: site.url }}"><img src="/assets/img/icon.svg" style="height: 50px;margin-top: -15px;"/></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav" id="nav_items" style="
        font-weight:bold">

        <li class=""><a href="{{ "/index.html" | prepend: site.baseurl | prepend: site.url }}" >首页</a></li>

        <li class=""><a href="{{ "/categories/life/" | prepend: site.baseurl | prepend: site.url }}" >岁月笔记</a></li>
        <li class=""><a href="{{ "/categories/programming/" | prepend: site.baseurl | prepend: site.url }}">编程随想</a></li>
        <li class=""><a href="{{ "/categories/album/" | prepend: site.baseurl | prepend: site.url }}">时光留影</a></li>
        <li class=""><a href="{{ "/categories/about/" | prepend: site.baseurl | prepend: site.url }}">关于自己</a></li>
        <li class=""><a href="{{ "/categories/guestbook/" | prepend: site.baseurl | prepend: site.url }}">留言板</a></li>
      </ul>
        <h3 class="nav navbar-nav navbar-right text-center" style="font-family:'fangyan';height:50px;margin-right:50px;padding-top:10px;">周红建的Blog</h3>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>




<!-- 被选中导航项修改样式 -->
<script type="text/javascript">
	    var pn = location.pathname;
      var as = document.getElementById('nav_items').getElementsByTagName('a'), find = false;
      for (var i = 0, j = as.length; i < j; i++){
  			if (as[i].href.indexOf(pn) != -1) {
  				as[i].parentNode.className = "active";
  				find = true;
  				break;
  			}
      }
</script>
<!-- 跳转后的被选中导航项修改样式  -->
<script type="text/javascript">
  $(document).ready(function(){

	// $(".nav li").first().addClass("active");
	  $(".nav li").click(function(){
		$(this).addClass("active").siblings().removeClass("active")
	  });
  });
</script>
